{% extends "base.html" %}
{% block head %}
    <link href='/static/css/datatables.min.css' rel='stylesheet' type='text/css'>
    <link href='/static/css/daterangepicker.css' rel='stylesheet' type='text/css'>
    <script src='/static/scripts/datatables.min.js'></script>
    <script src='/static/scripts/moment.min.js'></script>
    <script src='/static/scripts/daterangepicker.js'></script>
    <script src='/static/scripts/d3.v4.3.0.min.js'></script>
    <script src='/static/scripts/dimple.v2.3.0.min.js'></script>
{% endblock %}

{% block container %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Select timerange: </span>
          <input type="text" id="daterange">
        </div>        
        <div class="input-group-prepend">
            <select class="custom-select" id="behavtype">
                <option value="All" selected>All</option>
                <option value="ProcessBehavior">ProcessBehavior</option>
                <option value="NetworkBehavior">NetworkBehavior</option>
                <option value="FileBehavior">FileBehavior</option>
                <option value="RegistryBehavior">RegistryBehavior</option>
            </select>
        </div>   
        <div class="input-group-prepend">
            <button type="button" class="btn btn-primary" id="search">Search</button> 
        </div>
    </div>
    
    <table id="table">
    </table>

    <script>
        $(function() {
            $('#daterange').daterangepicker();

            $('#search').click(function() {
                daterange = $('#daterange').val();
                behav = $('#behavtype').val();

                var table = $('#table').DataTable({
                    destroy: true,
                    autoWidth: false,
                    search: {
                        regex: true,
                    },
                    ajax: {
                        url: '/ajax/event/raw',
                        type: 'POST',
                        data: {
                            'daterange': daterange,
                            'behav': behav,
                        },
                    },
                    columns: [
                        { 'data': 'epid', "searchable": true, 'title': 'Endpoint'},
                        { 'data': 'timestamp', "searchable": true, 'title': 'Timestamp'},
                        { 'data': 'behavior', "searchable": true, 'title': 'BehaviorType'},
                        { 'data': 'value', "searchable": true, 'title': 'Value'},
                    ],
                });
            });
        });
    </script>
{% endblock %}